<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>

<body>
    <h1>{{ cia.nome }}</h1>
    <ul>
        <li>{{ cia.faturamento }} </li>
        <li>{{ cia.presidente }} </li>
        <li>{{ cia.sede }} </li>
    </ul>
    <a href="{% url 'fly_atualizar' cia.id %}">Atualizar</a>
    <a href="{% url 'fly_deletar' cia.id %}">Deletar</a>
</body>

</html>